@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #546681;

  --primary: #1a3066;
  --primary-foreground: #fff;

  --secondary: #484dff;
  --secondary-foreground: #fff;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-3 h-3;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
}

@layer components {
  .card {
    @apply bg-background rounded-2xl py-8 px-6 shadow-xl;
  }

  .upperTitle {
    @apply uppercase font-bold text-secondary text-base tracking-widest mb-4;
  }

  .title {
    @apply font-bold text-primary text-4xl tracking-tight mb-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
